/* Leaderboard.css */

.leaderboard-container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .leaderboard-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .leaderboard-table th, .leaderboard-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  .leaderboard-table th {
    background-color: #250092d6;
    color: white;
  }
  